extends layouts/main

block mainpage
    .row.pt-md-4
        .col-md-12
            .blog-entry.ftco-animate.d-md-flex
                a.img.img-2(href='single.html' style='background-image: url(images/image_1.jpg);')
                .text.text-2.pl-md-4
                    h3.mb-2
                        a(href='single.html') A Loving Heart is the Truest Wisdom
                    .meta-wrap
                        p.meta
                            span
                                i.icon-calendar.mr-2
                                | June 28, 2019
                            span
                                a(href='single.html')
                                    i.icon-folder-o.mr-2
                                    | Travel
                            span
                                i.icon-comment2.mr-2
                                | 5 Comment
                    p.mb-4
                        | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                    p
                        a.btn-custom(href='#')
                            | Read More 
                            span.ion-ios-arrow-forward


    .row
        .col
            .block-27
                ul
                    li
                        a(href='#') &lt;
                    li.active
                        span 1
                    li
                        a(href='#') 2
                    li
                        a(href='#') 3
                    li
                        a(href='#') 4
                    li
                        a(href='#') 5
                    li
                        a(href='#') &gt;
