a.js-colorlib-nav-toggle.colorlib-nav-toggle(href='#')
    i
aside#colorlib-aside.js-fullheight(role='complementary')
    nav#colorlib-main-menu(role='navigation')
        ul
            li.colorlib-active
                a(href='/') Home
            li
                a(href='/about') About
            li
                a(href='/contact') Contact
    .colorlib-footer
        h1#colorlib-logo.mb-4
            a(href='index.html' style='background-image: url(/images/bg_1.jpg);')
                | Noval 
                span Blog
        //- .mb-4
            h3 Subscribe for newsletter
            form.colorlib-subscribe-form(action='#')
                .form-group.d-flex
                    .icon
                        span.icon-paper-plane
                    input.form-control(type='text' placeholder='Enter Email Address')
        p.pfooter
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Noval v1.2.5
            | Copyright &copy; 
            script.
                document.write(new Date().getFullYear());
            |  by Thanh An | All rights reserved | This template is made with 
            i.icon-heart(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com' target='_blank') Colorlib
