.sidebar-box.pt-md-4
    form.search-form(action='#')
        .form-group
            span.icon.icon-search
            input.form-control(type='text' placeholder='Type a keyword and hit enter')
.sidebar-box.ftco-animate
    h3.sidebar-heading Categories
    ul.categories
        li
            a(href='#')
                | Fashion 
                span (6)
        li
            a(href='#')
                | Technology 
                span (8)
        li
            a(href='#')
                | Travel 
                span (2)
        li
            a(href='#')
                | Food 
                span (2)
        li
            a(href='#')
                | Photography 
                span (7)
//- .sidebar-box.ftco-animate
    h3.sidebar-heading Popular Articles
    .block-21.mb-4.d-flex
        a.blog-img.mr-4(style='background-image: url(images/image_1.jpg);')
        .text
            h3.heading
                a(href='#') Even the all-powerful Pointing has no control
            .meta
                div
                    a(href='#')
                        span.icon-calendar
                        |  June 28, 2019
                div
                    a(href='#')
                        span.icon-person
                        |  Dave Lewis
                div
                    a(href='#')
                        span.icon-chat
                        |  19
    .block-21.mb-4.d-flex
        a.blog-img.mr-4(style='background-image: url(images/image_2.jpg);')
        .text
            h3.heading
                a(href='#') Even the all-powerful Pointing has no control
            .meta
                div
                    a(href='#')
                        span.icon-calendar
                        |  June 28, 2019
                div
                    a(href='#')
                        span.icon-person
                        |  Dave Lewis
                div
                    a(href='#')
                        span.icon-chat
                        |  19
    .block-21.mb-4.d-flex
        a.blog-img.mr-4(style='background-image: url(images/image_3.jpg);')
        .text
            h3.heading
                a(href='#') Even the all-powerful Pointing has no control
            .meta
                div
                    a(href='#')
                        span.icon-calendar
                        |  June 28, 2019
                div
                    a(href='#')
                        span.icon-person
                        |  Dave Lewis
                div
                    a(href='#')
                        span.icon-chat
                        |  19
.sidebar-box.ftco-animate
    h3.sidebar-heading Tag Cloud
    ul.tagcloud
        a.tag-cloud-link(href='#') animals
        a.tag-cloud-link(href='#') human
        a.tag-cloud-link(href='#') people
        a.tag-cloud-link(href='#') cat
        a.tag-cloud-link(href='#') dog
        a.tag-cloud-link(href='#') nature
        a.tag-cloud-link(href='#') leaves
        a.tag-cloud-link(href='#') food
.sidebar-box.subs-wrap.img.py-4(style='background-image: url(images/bg_1.jpg);')
    .overlay
    h3.mb-4.sidebar-heading Newsletter
    p.mb-4 Far far away, behind the word mountains, far from the countries Vokalia
    form.subscribe-form(action='#')
        .form-group
            input.form-control(type='text' placeholder='Email Address')
            input.mt-2.btn.btn-white.submit(type='submit' value='Subscribe')
//- .sidebar-box.ftco-animate
    h3.sidebar-heading Archives
    ul.categories
        li
            a(href='#')
                | Decob14 2018 
                span (10)
        li
            a(href='#')
                | September 2018 
                span (6)
        li
            a(href='#')
                | August 2018 
                span (8)
        li
            a(href='#')
                | July 2018 
                span (2)
        li
            a(href='#')
                | June 2018 
                span (7)
        li
            a(href='#')
                | May 2018 
                span (5)
//- .sidebar-box.ftco-animate
    h3.sidebar-heading Paragraph
    p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.
