// Essential javascripts for application to work
script(src='/vali-admin/js/jquery-3.3.1.min.js')
script(src='/vali-admin/js/popper.min.js')
script(src='/vali-admin/js/bootstrap.min.js')
script(src='/vali-admin/js/main.js')

// The javascript plugin to display page loading on top
script(src='/vali-admin/js/plugins/pace.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js')
